@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Poppins:wght@200;300&display=swap");

:root {
  --poppins: Poppins, sans-serif;
  --fatface: "Abril Fatface", cursive;
  --lobster: "Lobster", cursive;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --black: black;
  --grey: grey;
  --white: white;
}

.lobster {
  font-family: var(--lobster);
}

.navbar {
  padding: 2em;
  z-index: 9;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#home-image {
  width: 100%;
  height: 50%;
  background: url(https://images.pexels.com/photos/3184192/pexels-photo-3184192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: left center;
  background-repeat: no-repeat;
  z-index: 1;
}

h1 {
  font-family: var(--poppins);
  line-height: 1.28571429em;
  margin: calc(2rem - 0.14285714em) 0 1rem;
  font-weight: 700;
  padding: 0;
  font-style: normal;
}

.modals,
#loggedInMenuItems,
.form {
  padding-top: 2em;
}

.logo,
.btns,
.btn-align {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#home-sub-header {
  position: relative;
  margin: 5em;
  text-align: center;
}

div.ui.card.event-card {
  padding: 0.5em;
  margin: 3em;
}

.tabs {
  padding: 0.5em;
  margin: 3em;
}

.imgBtn {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.findEvents {
  position: relative;
  text-align: center;
  margin: 4em;
}

form.ui.small.form {
  font-style: normal;
}

.heading-profile {
  position: relative;
  text-align: center;
  margin: 2em;
  padding-top: 2em;
}
